name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: npm test

    - name: Build
      run: npm run build

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          homematicip-local-schedule-card.js
          dist/homematicip-local-schedule-card.js.map
        draft: false
        prerelease: false
        generate_release_notes: true
