name: Validate HACS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: HACS validation
      uses: hacs/action@main
      with:
        category: plugin
